<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/MainCss/accountEdit.css}">
    <style>
        .alert {
            padding: 12px;
            border: 1px solid transparent;
            border-radius: 5px;
        }
        .alert-danger {
            background-color: #f8d7da;
            border-color: #f5c6cb;
            color: #721c24;
        }
    </style>
</head>
<body>
<!-- Navbar -->
<header>
    <nav>
        <a th:href="@{/books/MainPage}">Home</a>
    </nav>
</header>

<!-- Page Content -->
<h1>Update Profile</h1>
<form th:action="@{/users/edit/{id}(id=${user.userId})}" th:object="${user}" method="post" class="form-container">
    <label for="userName">Name:</label>
    <input type="text" id="userName" name="userName" th:field="*{username}" required>
    <br>
    <label for="lastname">Lastname:</label>
    <input type="text" id="lastname" name="lastname" th:field="*{lastname}" required>
    <br>
    <label for="age">Age:</label>
    <input type="text" id="age" name="age" th:field="*{age}" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <br>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" th:field="*{address}" required>
    <br>
    <button type="submit">Update</button>
    <br>
    <a th:href="@{/users/user-profile}" class="cancel-button">Cancel</a>
    <!-- Error Message -->
    <div th:if="${errorMessage}" class="alert alert-danger">
        <span th:text="${errorMessage}"></span>
    </div>
</form>
</body>
</html>